<h1>All the users</h1>


<div class="row">
    <% @users.each do |user| %>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card cards">
                <div class="card-body card">
                 	<h4 class="card-title"><%= user.first_names %> <%= user.surname %> </h4>
                 	<button> <%= link_to 'Destroy' user_path(@user.id), method: :delete, data: { confirm: 'Are you sure?' } %> </button>
                </div>
            </div>
        </div>  
    <% end %>
</div>