
<!-- column 1, container of cards -->
<div class="container">
  <div class="row">
    <div class="col">
        <% @projects.each do |project| %>
            <div class="card cards">
              <div class="card-body card">
                <img src="<%= project.screenshot %>">
                <a><%= link_to project.title, [project.user, project] %></a>
              </div>
            </div>
          </div>
        <% end %>
    </div>
    </div>


<br />
<!-- part of ode only allowing signed in members to create new projects  -->
<% if user_signed_in? %>
<button class="newButton"><%= link_to 'Create a new project here', new_user_project_path(current_user.id) %></button>

<% end %>

