<h1 class="index">Current Sparta Projects</h1>

<div class="container-fluid">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-3">
        <div class="card cards">
          <div class="card-body card">
            <img src="<%= project.screenshot %>">
            <a><%= link_to project.screenshot, [project.user, project] %></a>
            <p> <a href="<%= project.url %>" target="_blank"> Project Link </a> </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br />

<!-- If the user is signed in, they have rights to create a new project -->
<% if user_signed_in? %>
  <button class="newButton"><%= link_to 'Create a new project here', new_user_project_path(current_user.id) %></button>
<% end %>

