
<!-- column, container of cards -->
<div class="container-fluid">
    <!-- Jumbotron intro -->
    <div class="jumbotron">
        <h1 class="display-3">Hello, Spartan!</h1>
        <p class="lead">Welcome to the Sparta Global Project Library</p>
        <hr class="my-4">
        <p>Use this site to upload and view data about your projects! make sure to fill out everything correctly, with a detailed description and a snazzy screenshot. </p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" <%= link_to 'Create a Project', new_user_project_path(current_user.id) %></a>
        </p>
    </div>


    <div class="row">
        <% @projects.each do |project| %>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card cards">
                    <div class="card-body card">
                        <img src="<%= project.screenshot %>">
                        <a><%= link_to project.title, [project.user, project] %></a>
                    </div>
                </div>
            </div>  
        <% end %>
    </div>
</div>


