/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


 .navbar  {
   background-color:#EEF4F6;
   list-style-type: none;
   display: inline-block;
}

.navbar-default{
 	display: inline-block;
}
.navbar-nav{
	display: inline-block;
}
.blue{
	display: inline-block;
}
.blue > ul > li {
	display: inline-block;
}

.blue > ul > li > a:hover, .nav> li > a:focus {
	background-color: #34BEEF;
	color: #FFFFFF;
}
 .navbar .navbar-default > li > a:hover, .nav > li > a:focus {
     background-color: #34BEEF;
     color: #FFC0CB;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
}

.btn-outline-success {
	background-color: #34BEEF;
	color: #ffffff;
	border: 1px solid blue;
	display: inline-block;

}

.btn-outline-success:hover{
	background-color: #0B8EC8;
	border: 1px solid blue;
}


body {
	background-color: #eef4f6;
}

.carousel {
	text-align: center;
	.arrows {
		background-color: black;
		color: black;
	}
}

.index {
	text-align: center;
}

.newButton {
		background-color: #fff;
		border-color: #0b8ec8;
		margin-right: 10px;
		color: black;

		a:hover{
			background-color: #fff;
			text-decoration: none;
			color: black;
		}
}

.card {
	display: inline-block;
	border: none;
	background-color: #eef4f6;
	border: 2px solid #fff;
	border-radius: 20px;
	text-align: center;
	float: left;

	button {
		background-color: #fff;
		border-color: #0b8ec8;
		border-radius: 100%;
		margin-right: 10px;
		color: black;
	}

		a:hover{
			background-color: #fff;
			border-radius: 100%;
			text-decoration: none;
			color: black;
		}
	
			.card:hover {
				background-color: #0b8ec8;
				box-shadow: 5px 5px 0px 0px #D1C2BF;
			}
}
