

@import "bootstrap";


body {
	font-family: Sansation Light;

}

.MutedJumbo {
	font-size: 22px;
}

.JumboText {
	font-size: 30px;
}

.SignUp {

text-align: center;
}

.EditProfile {
	text-align: center;
}

.SignIn {
	text-align: center;
}

.card {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid black;
}
.card > div{
  padding:5px;
 }

.card-img-top{
  width:100%;
  height:auto;
}


.SignInOnPage {
	padding-left: 20px;
}

.blue > ul > li > a:hover, .nav> li > a:focus {
	background-color: #34BEEF;
	color: #FFFFFF;
}
 .navbar {
     color: #FFC0CB;
     margin-bottom:0;
}

.card {
	width: 400px;
	height: 350px;
}

a:hover {
	background-color: #acaeaf;
	text-decoration: none;
	color: white;
}

.jumbotron {
	margin-bottom: 0;
	margin-top: 0;
}



.btn-outline-success {
	background-color: #34BEEF;
	color: #ffffff;
	border: 1px solid blue;
	display: inline-block;

}

.btn-outline-success:hover{
	background-color: #0B8EC8;
	border: 1px solid blue;
}



.index {
	text-align: center;
}

.newButton {
		background-color: #fff;
		border-color: #0b8ec8;
		margin-right: 10px;
		color: black;

		a:hover{
			background-color: #fff;
			text-decoration: none;
			color: black;
		}
}

.card {
	border: none;
	text-align: center;
	font-size: 30px;
	padding-bottom: 400px;

}

